body, html {
     height: 100%;
}

body {
     font-weight: 200;
     font-size: 1.5rem;
     color: #444;
}

.intro-left {
     background: url(../img/1.jpg);
     position: fixed;
     left: 0;
     width: 33.3333%;
     height: 100%;
     color: white;
}

@media (max-width: 768px) {
     .intro-left {
          height: 30vh;
          margin-bottom: 0;
          position: relative;
          width: 100%;
     }
}

.avatar {
     width: 10rem;
     height: 10rem;
     border-radius: 50%;
     margin: 1rem;
}

.full-height {
     height: 100%;
}

